@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    font-size: 16px;
}

.main-content{
  background: #F2EEE6;
  font-family: 'PT Sans', sans-serif;
}

.requests{
  margin-top: 0.54rem;
}

.position-fixed-fix {
  height: fit-content;
}