@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    font-size: 16px;
}

.main-content{
  background: #F2EEE6;
  font-family: 'PT Sans', sans-serif;
}
.chat-container{
    border-radius: 0.625rem;
    background: #FFF;
    margin-top: 2.44rem;
    justify-content: center;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
.chat-header{
    margin-top: 1.8rem;
}
.chat-info{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.02375rem;
    padding: 1.8rem 13rem;
    border-radius: 0.625rem;
    background: #004D3A;
}
.chat-value{
    padding: 1.44rem 6rem 1.04rem 6rem;
    margin-top: 1.62rem;
    border-top: 0.06rem solid #999;
    border-bottom: 0.06rem solid #999;
}
.request-num{
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.02375rem;
}
.telephone-num{
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    letter-spacing: -0.019rem;
}
.problem{
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    letter-spacing: -0.019rem;
}
.problem-descript{
    color: #888;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: -0.01663rem;
}
.chat-content{
    overflow-y: scroll;
    height: 40vh;
}

.discussion{
    margin-top: 0.15rem;
}

.message{
    border-radius: 0.625rem;
    background: #F0F0F0;
    float: left;
    padding: 0.81rem 0.92rem 0 1.22rem;
    margin-top: 1.64rem;
}

.username{
    color: #000;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.02138rem;
}

.from-logo{
    width: 1.3rem;
    height: auto;
}

.message-time{
    color: #888;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: -0.01663rem;
    
}

.answer{
    border-radius: 0.625rem;
    background: #F0F0F0; 
    float: right;
    margin-top: 1.64rem;
    padding: 0.62rem 1.19rem 0 1.28rem;
    margin-right: 1rem;
}

.message-content{
    margin-left: 1.34rem;
    padding-top: 0.62rem;
}

.message-write{
    display: block;
    color: #9B9B9B;
    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.02138rem;
    border-radius: 0.625rem;
    border: 1px solid #B2B2B2;
    background: #FFF;
    padding: 1.31rem 1.41rem 1.56rem 4rem;
}

.send-btn{
    position: absolute;
    margin-left: 30rem;
    margin-top: 1.44rem;
    border: none;
    background: #FFF;
    background-image: url("../../img/ic_logo-white 1.svg");
}
.send-btn:hover{
    filter: brightness(0.9);
}