@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    font-size: 16px;
}

.button {
    padding: 0.87rem 0.26rem 0.94rem 2.12rem;
    border-radius: 0.625rem;
    display: flex;
    background: #0D9900;
    border: none;
    text-align: center;
    color: #FFF;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 27px */
    text-decoration: none;
}

.btn-content{
    margin-right: 2rem;
}
.header-content {
    padding: 5.31rem 0 3.58rem 0;
    position: sticky;
    background: #F2EEE6;
}
.add-img{
    width: 1.875rem;
    height: auto;
    margin-right: 2rem;
}
.header-container {
    background: #F2EEE6;
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
}