.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .navbar {
  position: absolute;
  width: 290px;
  height: 1024px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.desktop .navbar-group {
  position: absolute;
  width: 244px;
  height: 197px;
  top: 244px;
  left: 35px;
}

.desktop .text-wrapper {
  top: 111px;
  left: 65px;
  position: absolute;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #878787;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.27px;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .overlap-2 {
  width: 244px;
  height: 184px;
  top: 0;
  left: 0;
}

.desktop .rectangle {
  position: absolute;
  width: 244px;
  height: 67px;
  top: 0;
  left: 0;
  background-color: #c2c2c2;
  border-radius: 10px;
}

.desktop .group {
  position: absolute;
  width: 196px;
  height: 27px;
  top: 22px;
  left: 29px;
}

.desktop .text-wrapper-2 {
  top: 0;
  left: 36px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.34px;
  line-height: 27px;
  position: absolute;
  white-space: nowrap;
}

.desktop .test {
  position: absolute;
  width: 19px;
  height: 22px;
  top: 1px;
  left: -1px;
}

.desktop .vector {
  position: absolute;
  width: 16px;
  height: 9px;
  top: 10px;
  left: 179px;
}

.desktop .img {
  position: absolute;
  width: 1px;
  height: 107px;
  top: 64px;
  left: 38px;
}

.desktop .vector-2 {
  position: absolute;
  width: 18px;
  height: 14px;
  top: 110px;
  left: 38px;
}

.desktop .vector-3 {
  position: absolute;
  width: 18px;
  height: 14px;
  top: 170px;
  left: 38px;
}

.desktop .text-wrapper-3 {
  top: 171px;
  left: 65px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #878787;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.27px;
  line-height: 21px;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 32px;
  height: 25px;
  top: 112px;
  left: 201px;
}

.desktop .div-wrapper {
  position: relative;
  width: 30px;
  height: 25px;
  background-color: #c2c2c2;
  border-radius: 15px/12.27px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 9px;
  top: 1px;
  left: 10px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 22.5px;
  white-space: nowrap;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 32px;
  height: 25px;
  top: 172px;
  left: 201px;
}

.desktop .vector-4 {
  position: absolute;
  width: 230px;
  height: 1px;
  top: 111px;
  left: 30px;
}

.desktop .group-2 {
  position: absolute;
  width: 75px;
  height: 30px;
  top: 180px;
  left: 63px;
}

.desktop .text-wrapper-5 {
  top: 0;
  left: 37px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.desktop .message {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 4px;
  left: -1px;
}

.desktop .group-3 {
  position: absolute;
  width: 158px;
  height: 27px;
  top: 493px;
  left: 60px;
}

.desktop .text-wrapper-6 {
  top: 0;
  left: 40px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.34px;
  line-height: 27px;
  position: absolute;
  white-space: nowrap;
}

.desktop .archive {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 2px;
  left: 0;
  object-fit: cover;
}

.desktop .group-4 {
  position: absolute;
  width: 122px;
  height: 26px;
  top: 576px;
  left: 63px;
}

.desktop .text-wrapper-7 {
  top: 0;
  left: 37px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15.6px;
  letter-spacing: -0.16px;
  line-height: 25px;
  position: absolute;
  white-space: nowrap;
}

.desktop .graph {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 1px;
  left: -1px;
}

.desktop .text-wrapper-8 {
  top: 54px;
  left: 350px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.68px;
  line-height: 54px;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-3 {
  position: absolute;
  width: 1026px;
  height: 3px;
  top: 206px;
  left: 348px;
}

.desktop .vector-5 {
  position: absolute;
  width: 1025px;
  height: 1px;
  top: 1px;
  left: 2px;
  object-fit: cover;
}

.desktop .vector-6 {
  position: absolute;
  width: 224px;
  height: 3px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-9 {
  top: 157px;
  left: 375px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  top: 157px;
  left: 618px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #878787;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.desktop .group-5 {
  position: absolute;
  width: 32px;
  height: 25px;
  top: 162px;
  left: 793px;
}

.desktop .fav-request {
  position: relative;
  width: 950px;
  height: 110px;
  top: 227px;
  left: 80px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.desktop .text-wrapper-11 {
  top: 28px;
  left: 46px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-12 {
  top: 32px;
  left: 175px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #878787;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.27px;
  line-height: 21px;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  width: 125px;
  top: 61px;
  left: 40px;
  position: absolute;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #878787;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.27px;
  line-height: 21px;
  white-space: nowrap;
}

.desktop .badge {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 36px;
  left: 885px;
  object-fit: cover;
}

.desktop .vector-7 {
  position: absolute;
  width: 14px;
  height: 4px;
  top: 10px;
  left: 922px;
}

.desktop .request {
  position: relative;
  width: 950px;
  height: 110px;
  top: 230px;
  margin-top: 20px;
  left: 80px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.desktop .text-wrapper-14 {
  top: 28px;
  left: 45px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.desktop .vector-8 {
  position: absolute;
  width: 14px;
  height: 4px;
  top: 11px;
  left: 922px;
}

.desktop .overlap-6 {
  position: absolute;
  width: 136px;
  height: 38px;
  top: 28px;
  left: 810px;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 136px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.desktop .text {
  position: absolute;
  top: 16px;
  left: 19px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 12px;
  left: 8px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid;
  border-color: #878787;
}

.desktop .text-wrapper-15 {
  top: 10px;
  left: 26px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.desktop .polygon {
  position: absolute;
  width: 9px;
  height: 7px;
  top: 21px;
  left: 926px;
}

.desktop .add-request {
  position: relative;
  display: flex;
  justify-content: left;
  width: 214px;
  height: 56px;
  top: 230px;
  margin-top: 20px;
  left: 80px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.desktop .text-wrapper-16 {
  top: 15px;
  left: 63px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.desktop .add {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  left: 15px;
  object-fit: cover;
}

.desktop .scroll {
  position: absolute;
  width: 4px;
  height: 132px;
  top: 317px;
  left: 1375px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.desktop .group-6 {
  position: absolute;
  width: 32px;
  height: 25px;
  top: 162px;
  left: 527px;
}

.add-request:hover{
  filter: brightness(0.9);
}
.add-request:active{
  transform: translateY(2px);
}

.navbar button{
  border: none;
  background-color: #d9d9d9;
}

.header button{
  border: none;
  background-color: #ffffff;
}
.header button:hover{
  filter: brightness(0.9);
}